<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wildcreek.patronus.lib">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 必需的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.wildcreek.patronus.activity.SinglePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
             />
        <!--注册Service-->
        <service
            android:name="com.wildcreek.patronus.service.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.wildcreek.patronus.service.CancelNoticeService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.wildcreek.patronus.service.SilentPlayerService"
            android:enabled="true"
            android:exported="true"
            android:process=":music_service" />
        <service
            android:name="com.wildcreek.patronus.service.AliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--接收系统广播接收器-->
        <receiver android:name="com.wildcreek.patronus.receiver.SystemBroadcastReceiver">
            <!--设备重启广播-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--安装或卸载广播-->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!--解锁广播-->
            <intent-filter>
                <action android:name="android.intent.action.ACTION_USER_PRESENT" />
            </intent-filter>
            <!--存储卡挂载广播-->
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file"></data>
            </intent-filter>
            <!--网络状态广播-->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
            <!--拍照、录像广播-->
            <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <action android:name="android.hardware.action.NEW_PICTURE" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
